<footer>
  <div class="container-fluid">
    <div class="row firstRow"><a>Back To Top</a></div>

    <div class="row secondRow">
      <div class="container">
        <div class="row">
          <!-- first col -->
          <div class="col-sm columns">
            <h6>Get to Know Us</h6>
            <a>About Amazon </a>
            <a>Careers </a>
          </div>
          <!-- second col -->
          <div class="col-sm columns">
            <h6>Shop with Us</h6>
            <a>Your Account</a>
            <a>Your Orders</a>
            <a>Your Address</a>
            <a>Your Lists</a>
          </div>
          <!-- third col -->
          <div class="col-sm columns">
            <h6>Make Money with Us</h6>
            <a>Sell on Amazon</a>
            <a>Fulfillment by Amazon</a>
          </div>
          <!-- fourth col -->
          <div class="col-sm columns">
            <h6>Let Us Help You</h6>
            <a>Help</a>
            <a>Shipping & Delivery</a>
            <a>Returns & Replacements </a>
            <a>Amazon App Download</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row thirdRow">
      <div class="col-sm-12">
        <img src="../../../assets/icons/logo_white.png" alt="logo" width="100" height="80"/>
        <button>English</button>
        <button style="margin-left: 10px">Egypt</button>
      </div>
    </div>
    <div class="row fourthRow">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <a class="links"
              href="https://sell.amazon.ae/?lang=en-US&ref_=AZEGSOA_footer_affiliateAE_EN&ld=AZEGSOA_footer_affiliateAE_EN">
              <b>Sell on Amazon.ae</b>
              <p>Sell globally, start with Saudi Arabia</p>
            </a>
          </div>
          <div class="col-sm">
            <a class="links"
              href="https://sell.amazon.sa/?lang=ar-AE&ref_=AZEGSOA_footer_affiliateSA_EN&ld=AZEGSOA_footer_affiliateSA_EN">
              <b>Sell on Amazon.sa</b>
              <p>Sell globally, start with UAE</p>
            </a>
          </div>
          <div class="col-sm">
            <a class="links"
              href="https://aws.amazon.com/what-is-cloud-computing/?sc_channel=EL&sc_campaign=AE_amazonfooter">
              <b> Amazon Web Services</b>
              <p>Scalable Cloud Computing Services</p>
            </a>
          </div>
          <div class="col-sm">
            <a class="links" href="https://www.goodreads.com/">
              <b>Goodreads</b>
              <p>Book reviews & recommendations</p>
            </a>
          </div>
          <div class="col-sm">
            <a class="links" href="https://www.audible.com/">
              <b>Audible</b>
              <p>Download Audio Books</p>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <a class="links" href="https://www.imdb.com/">
              <b>IMDb </b>
              <p>Movies, TV & Celebrities</p>
            </a>
          </div>
          <div class="col-sm">
            <a class="links" href="http://www.alexa.com/">
              <b> Alexa </b>
              <p>Actionable Analytics for the Web</p>
            </a>
          </div>
          <div class="col-sm">
            <a class="links" href="http://www.bookdepository.com/">
              <b>Book Depository</b>
              <p> Books With Free Delivery Worldwide</p>
            </a>
          </div>
          <div class="col-sm">
            <a class="links" href="http://www.shopbop.com/welcome">
              <b>Shopbop</b>
              <p>Designer
                Fashion Brands</p>
            </a>
          </div>
          <div class="col-sm"></div>
        </div>
        <div class="row lastRow">
          <a href="https://www.amazon.eg/-/en/gp/help/customer/display.html?nodeId=201909000&ref_=footer_cou">
            Conditions of Use & Sale
          </a>
          <a href="https://www.amazon.eg/-/en/gp/help/customer/display.html?nodeId=201909010&ref_=footer_privacy">
            Privacy Notice</a>
          <a href="https://www.amazon.eg/-/en/gp/help/customer/display.html?nodeId=202075050&ref_=footer_ads">
            Interest-Based Ads</a>
          <p>© 1996-2021, Amazon.com, Inc. or its affiliates</p>
        </div>
      </div>
    </div>
  </div>
</footer>

