<!-- <p-carousel [value]="categories" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1"  [responsiveOptions]="responsiveOptions"> -->
  <p-carousel [value]="productList" styleClass="custom-carousel"  [circular]="true"
  [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
  <ng-template pTemplate="header">
    <h5>{{header}}</h5>
  </ng-template>
  <ng-template let-product pTemplate="item">
    <app-secondary-card [product]="product"></app-secondary-card>
  </ng-template>
</p-carousel>
